/*@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap&#39;);*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    width: 425px;
    height: 637px;

    position: relative;
}

.content img{
    width: 100%;
    height: 100%;
}

.serchInput{
    position: absolute;

    width: 287px;
    height: 50px;
    
    bottom: 150px;
    left: 50px;

    outline: none;
    padding: 10px;
    font-size: 18px;

    border-radius: 10px;
    border: 2px solid #212221;
    box-shadow: -3px 5px 0 0 #8e8e8f;
}


.btn{
    position: absolute;
    background-color: #424242;
    color: white;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: -3px 5px 0 0 #212221;

    width: 130px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;

    bottom: 50px;
}

.btn:active{
    transform: translate(-3px,5px);
    box-shadow: -1px 1px 0 0px #212221;
}

.next{
    left: 50px;
}

.prev{
    left: 206px;
}

#imagen{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 120px;
    height: 120px;

    top: 200px;
    left: 140px;
}

#nN{
    position: absolute;

    display: flex;
    justify-content: end;
    align-items: center;

    width: 250px;
    height: 55px;
    padding-right: 10px;

    top: 340px;
    left: 70px;
}

.grey{
    color: rgb(91, 90, 90);
}

.pokeInfo{
    display: flex;
}